@{
    ViewBag.Title = "MVC Page";
}

<p>
    Here's the Twitter control<br /><br />
    (put the control here)
</p>

<p>
    <a href="../../WebForm.aspx">Try the WebForms version</a>
</p>
